# macOS
.DS_Store

# dependencies
/deps/

# build outputs
build/
/build-ui
/build
/build-core
/build-pdc
bin/
out/

# compiled objects
*.o
*.obj
*.so
*.a
*.dylib
*.Identifier
*.ini

# vscode
.vscode/
